{% extends "base_generic.html" %}

{% block content %}
  <h2>Stock Data</h2>
  <table class="table table-bordered"> <!-- Add Bootstrap classes -->
    <thead class="thread-dark">
        <tr>
            <th>Ticker</th>
            <th>Date</th>
            <th>Open Price</th>
            <th>High Price</th>
            <th>Low Price</th>
            <th>Close Price</th>
            <th>Volume</th>
            <th>Change</th>
            <th>Average</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in quandl_data %}
            <tr>
                <td class="blue_text">{{ stock.ticker }}</td>
                <td>{{ stock.date }}</td>
                <td>{{ stock.open_price|floatformat:2 }}</td> <!-- Apply floatformat filter -->
                <td>{{ stock.high|floatformat:2 }}</td> <!-- Apply floatformat filter -->
                <td>{{ stock.low|floatformat:2 }}</td> <!-- Apply floatformat filter -->
                <td>{{ stock.close|floatformat:2 }}</td> <!-- Apply floatformat filter -->
                <td>{{ stock.volume }}</td>
                <td>{{ stock.change|floatformat:2 }}</td>
                <td>{{ stock.average|floatformat:2}}</td>
                <td class="{%if stock.recommendation == 'Buy' %}green_text{% elif stock.recommendation == 'Sell' %}red_text{% endif %}">{{ stock.recommendation}}</td> <!-- Apply floatformat filter -->
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
